dxcam==0.0.5
matplotlib==3.9.0
numpy
onnx==1.16.1
onnxruntime-directml==1.18.1
opencv-python==4.10.0.84
pywin32==306
torch==2.3.1+cpu
torchaudio==2.3.1+cpu
torchvision==0.18.1+cpu
ultralytics==8.2.62
ultralytics-thop==2.0.0
