dxcam==0.0.5
matplotlib==3.9.0
numpy
nvidia-cuda-runtime-cu12==12.5.82
onnx==1.16.1
pywin32
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-hub==0.12.0
tensorflow-intel==2.17.0
tensorflowjs==3.18.0
tensorrt==10.2.0.post1
tensorrt-cu12==10.2.0.post1
tensorrt-cu12_bindings==10.2.0.post1
tensorrt-cu12_libs==10.2.0.post1
torch==2.3.1+cu121
torchaudio==2.3.1+cu121
torchvision==0.18.1+cu121
ultralytics==8.2.61
ultralytics-thop==2.0.0